.card{
    border-radius: 20px;
    width: 50%;
    height: 200px;
    padding: 10px;
    border: solid 1px black;
    margin: 10px auto;
}

.card--colorgreen{
    background-color: green;
}

.card--colorblue{
    background-color: blue;
}

.card--colorred{
    background-image: linear-gradient(red, yellow);
}

.card__text{
    padding: 10px;
    font-size: 2em;
    text-align: center;
}