
body {
  font-family: "Montserrat", sans-serif;
}


form{
  display: flex;
  justify-content: center;
  margin: 150px;
  padding: 20px 50px 50px 20px;
}

header {
  display: flex;
  justify-content: center;
  background: black;
  padding: 25px;
}

section {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  flex-flow: row;
  width: 100%;
  height: 100%;
}
.Menu {
  display: flex;
  /*se establece en fila y que se adapte a las medidas*/
  width: 100%;
  height: 100%;
  background: black;
  align-items: center;
  
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding:10px;
  background: black;
  height: 800px;
}
nav a {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding: 8px;
  text-decoration: none;
}
/*.frame  {
  width: 100%;
  height: 100%;
}*/
.imagen {
  width: 1px;
  height: 30px;
}

@media (max-width: 1000px) {
  .header {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .Menu {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 2px;
    flex-flow: column;
  }
  .nav {
    display: flex;
    flex-flow: row;
  }
}

.box td {
  color: white;
  text-transform: uppercase;
  font-weight: 500px;
}
.box input[type="text"],
.box input[type="password"] {
  border: 2;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.box button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
button button[type="input"]:hover {
  background: #b1fb07;
}